body {
	margin: 0;
	padding: 0;
}

#header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 20px;
	color: white;
	font-family: "Montserrat";
	background-color: orange;
}

#header h1 {
	float: left;
	font-size: 50px;
}

#header h1 a:link {
	color: white;
	text-decoration: none;
}

#header h1 a:visited {
	color: white;
}

#header h1 a:hover {

}

#nav-contents {
	float: right;
	margin-right: 40px;
	margin-top: 55px;
}

#nav-contents li {
	display: inline;
	margin-right: 20px;
}

#nav-contents a:link {
	color: white;
	text-decoration: none;
}

#nav-contents a:visited {
	color: white;
}

#nav-contents a:hover {
	text-decoration: underline;
}

#wrapper {
	margin-top: 167px;
}

#feature {
	height: 600px;
	width: 100%;
	background: url("images/book-fair-678264_1280.jpg");
	background-position: center;
	background-size: cover;
}

#feature h1 {
	margin: 0;
	color: white;
	font-family: "Montserrat";
	text-align: center;
	font-size: 50px;
	padding-top: 170px;
}

#cta {
	margin-left: auto;
	margin-right: auto;
}

#cta p {
	text-align: center;
	margin-top: 60px;
}

#cta a:link {
	color: white;
	font-family: "Montserrat";
	text-decoration: none;
	outline: 7px solid white;
	padding: 15px;
}

#cta a:visited {
	color: white;
}

#cta a:hover {
	background-color: rgba(266,166,63,0.8);
}

#about {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

#about-contents {
	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: rgb(129,128,133);
}

#about-contents h1 {
	color: orange;
	font-family: "Montserrat";
}

#about-info {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top;
	width: 300px;
	display: inline-block;
}

#about-info img {
	width: 300px;
}

#bottom-index {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#announcements {
	font-family: "Montserrat";
}

#announcements h1 {
	font-size: 30px;
	color: orange;
}

#announcements p {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 15px;
	color: rgb(129,128,133);
	line-height: 35px;
}

#costumes, #what-is-cosplay, #founders, #party-registration, #more-info {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

#costumes h1 {
	font-family: "Montserrat";
	color: orange;
}

#costumes p {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 15px;
	color: rgb(129,128,133);
}

#costumes table {
	width: 60%;
	text-align: left;
}

#headings {
	background-color: orange;
	font-family: "Montserrat";
	color: white;

}

#headings th {
	padding: 10px;
}

.table-items {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 15px;
	color: white;
	background-color: #cccccc;
}

.table-items td {
	padding: 5px;

}

/*
#founders {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
*/

#founders h1, h2 {
	font-family: "Montserrat";
	color: orange;
}

.founders-information {
	padding: 10px;
}

.founders-information img {
	width: 45%;
}

.founders-information p {
	width: 500px;
	float: right;
	margin-right: 20px;
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 200;
	color: rgb(129,128,133);
	line-height: 40px;
}

/*
#what-is-cosplay {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
*/

#what-is-cosplay p {
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 200;
	color: rgb(129,128,133);
	line-height: 35px;
}

#what-is-cosplay h1 {
	font-family: "Montserrat";
	color: orange;
}

#what-is-cosplay a:link {
	color: #bbbbbb;
	text-decoration: none;
}

#what-is-cosplay a:visited {
	color: #bbbbbb;
}

#what-is-cosplay a:hover {
	color: orange;
}

/*
#party-registration {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
*/

#party-registration h1, h2 {
	font-family: "Montserrat";
	color: orange;
}

.party-content {
	padding: 10px;
}

.party-content p {
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 200;
	line-height: 35px;
	color: rgb(129,128,133);
}

.party-content ul {
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 200;
	line-height: 35px;
	color: rgb(129,128,133);
}

.party-content a:link {
	color: orange;
	text-decoration: none;
}

/*
#moreinfo {
	width: 1000px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}
*/

#more-info h1 {
	font-family: "Montserrat";
	color: orange;
}

#more-info p {
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 200;
	color: rgb(129,128,133);
	line-height: 35px;
}

#more-info a:link {
	color: orange;
	text-decoration: none;
}

#more-info a:visited {
	color: orange;
}

#more-info a:hover {
	text-decoration: underline;
}

#footer {
	text-align: center;
	margin-top: 30px;
	padding: 15px;
	background-color: rgb(30,29,30);
}

#footer p {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 15px;
	color: #eeeeee;
	display: inline;
}

#footer p a:link {
	color: white;
	text-decoration: none;
}

#footer p a:visited {
	color: white;
}

#footer p a:hover {
	text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    width: 400px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#footer-bottom-level-contact p {
	display: block;
}